
<link rel="import" href="/el/chart/median-chart.html">
<link rel="import" href="/el/chart/scatter-brush-chart.html">
<link rel="import" href="/el/chart/average-bar-chart.html">
<link rel="import" href="/el/card/forecast-card.html">
<polymer-element name="analysis-layout" attributes="rawdata variants visible">
    <template>
        <style shim-shadowdom>
            :host{
                display: block;
                padding: 8px;
            }
        </style>

        <div layout horizontal fit>
            <median-chart variants="{{variants}}" rawdata="{{rawdata}}" visible="{{visible}}" flex ten></median-chart>
            <div flex eight layout vertical>
                <forecast-card variants="{{variants}}" visible="{{visible}}" flex two></forecast-card>
                <scatter-brush-chart variants="{{variants}}" rawdata="{{rawdata}}" visible="{{visible}}" flex one></scatter-brush-chart>
                <average-bar-chart rawdata="{{rawdata}}" visible="{{visible}}" flex one></average-bar-chart>
            </div>

        </div>

    </template>
    <script>
        Polymer({
            dataSet: [],
            ready: function(){

            }
        });
    </script>
</polymer-element>